/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
    margin: 0;

    .container {
        .heading {
            padding: 18px;
        }

        .list-item {
            &:first-of-type {
                margin-top: 35px;
            }

            .inner {
                padding: 15px 28px;

                .text {
                    font-weight: bold;
                    font-size: 16px;
                }

                .actions {
                    margin-left: -8px;

                    a {
                        color: #333;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
